table {
  border-collapse: collapse;
  width: 100%;
  
}

img {
  width: 600px;

}

th,
td {
  text-align: left;
  padding: 8px;
  border: black solid;

}

td:nth-child(even) {
  background-color: #f2f2f2;

}

@media screen and (max-width: 950px) {
  #motorcycleTable img {
    width: 150px;

  }
}